<footer class="page-footer">

    <hr class="my-4">

    <!-- Social icons -->
    <div class="footer">
      <a href="" target="_blank">
        <i class="fab fa-facebook-f mr-3"></i>
      </a>

      <!-- <a href="https://twitter.com/MDBootstrap" target="_blank">
        <i class="fab fa-twitter mr-3"></i>
      </a> -->
<!-- 
      <a href="https://www.youtube.com/watch?v=7MUISDJ5ZZ4" target="_blank">
        <i class="fab fa-youtube mr-3"></i>
      </a> -->

      <a href="https://plus.google.com/u/0/b/107863090883699620484" target="_blank">
        <i class="fab fa-google-plus-g mr-3"></i>
      </a>

      <!-- <a href="https://dribbble.com/mdbootstrap" target="_blank">
        <i class="fab fa-dribbble mr-3"></i>
      </a> -->

      <!-- <a href="https://pinterest.com/mdbootstrap" target="_blank">
        <i class="fab fa-pinterest mr-3"></i>
      </a>

      <a href="https://github.com/mdbootstrap/bootstrap-material-design" target="_blank">
        <i class="fab fa-github mr-3"></i>
      </a>

      <a href="http://codepen.io/mdbootstrap/" target="_blank">
        <i class="fab fa-codepen mr-3"></i>
      </a>
    </div> -->
    <!-- Social icons -->

    <!--Copyright-->
    <style>
      
      .page-footer{
        background-color: rgba(247, 0, 255, 0.582);
        text-align: center;
        margin: 45px;
        margin-bottom: 100px;
        padding-bottom: 10px;
      }
      .footer{
        padding-bottom: 30px;
        text-align: justify;
        color: black;
      }
      
    </style>
    <div class="footer">
      <br>
      Sydney kipchirchir Rotich   B141/18085/2019
      <br>
      Justice Mugambi             B141/18058/2019
      <br>
      Kiit . j . Kavingo          B141/18055/2019

      <a href="https://mdbootstrap.com/education/bootstrap/" target="_blank">  </a>
    </div>
    <style>
      
    </style>
    <div class="comment">
      <u style="color: purple;"><h5 style="color: purple;">comments on the course </h5></u>
      <p>
        This is to our lecture Dr. Consolata Ghakii.  Thank you so much for making us know how to build a website.
        This was an epic time trying to find out how things are done as far as web developement is concerned. 
        You once said " Learn how to do it !!!", this phrase is so powerfull. It really motivated us
      </p>
    </div>

  </footer>